*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

body {
    font-family: "Roboto", sans-serif ;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    text-align: center;
}

.changelog {
    width: 100%;
    max-width: 800px;
    border: 2px solid black;
    padding: 40px 20px;
    border-radius: 50px;
}

.title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1;
}

.subtitle {
    color: #666;
    margin: 20px;
}

.timeline {
    /* border: 1px solid red; */
    position: relative;
    margin-top: 50px;
}

.event {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 304px;
  top: -30px;
  bottom: -50px;
  width: 2px;
  background: #333;
}

.date {
  position: absolute;
  left: 100px;
  text-align: right;
  color: #666;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 298px;
  top: 4px;
}

.description {
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    left: 350px;
}

.btn {
    display: black;
    border: none;
    background-color: black;
    color: white;
    padding: 12px 20px;
    margin: 30px auto 0;
    border-radius: 10px;
    cursor: pointer;
}